<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Login</title>

    <script>
        const message = `[[${message}]]`;
        if (message) {
            alert(message);
        }
    </script>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <main>
        <div class="login-form">
            <form th:action="@{/auth/login}" th:method="POST">
                <label>아이디 : </label>
                <input type="text" id="memberId" name="memberId"/>
                <br>
                <label>비밀번호 : </label>
                <input type="password" id="memberPw" name="memberPw"/>
                <br>
                <button>로그인</button>
            </form>
        </div>

        <div class="signup-btn">
            <button type="button" onclick="location.href='/user/member/signup'">회원가입</button>
        </div>
    </main>

    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>