<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title th:text="${pageTitle}">Spaces in Space</title>
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<main>
    <h2>결제 상세 정보</h2>

    <div>
        <p>주문 날짜: <span th:text="${findPayDetail.payDate}"></span></p>
        <p>주문 번호: <span th:text="${findPayDetail.payCode}"></span></p>
        <p>상품 이름: <span th:text="${findPayDetail.productCode}"></span></p>
        <p>주문자 이름: <span th:text="${findPayDetail.memberName}"></span></p>
        <p>주문자 연락처: <span th:text="${findPayDetail.memberPhone}"></span></p>
        <p>주문 결제 상태: <span th:text="${findPayDetail.payRefundYn}"></span></p>
        <p>주문 결제 금액: <span th:text="${findPayDetail.payTotalPrice}"></span></p>
        <p>계좌번호: <span th:text="${findPayDetail.payAccountNumber}"></span></p>
        <p>카드번호: <span th:text="${findPayDetail.payCardNumber}"></span></p>
        <p>은행사: <span th:text="${menu.orderableStatus}"></span></p>
        <p>판매상태: <span th:text="${menu.orderableStatus}"></span></p>
    </div>
</main>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>