<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle}">Spaces in Space</title>
</head>
<body>

    <div th:fragment="order">
        <main>
            <p>사용자 결제 내역</p><br>
            <table>
            <tr>
                <th>결제번호</th>
                <th>주문날짜</th>
                <th>주문수량</th>
                <th>주문금액</th>
                <th>결제취소여부</th>
            </tr>
            <tr th:each="pay : ${payList}">
                <td><a th:href="@{/user/pay/findPayDetail/{code}(code=${ pay.payCode})}" th:text="${ pay.payCode }"></a></td>
                <td th:text="${pay.payDate}"></td>
                <td th:text="${pay.payTotalCnt}"></td>
                <td th:text="${pay.payTotalPrice}"></td>
                <td th:text="${pay.payRefundYn}"></td>
            </tr>
            </table>
        </main>
    </div>
</body>

</html>