<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title th:text="${pageTitle}">Spaces in Space</title>
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<main>
    <p>사용자 결제 내역</p>
    <table class="table-primary">
        <tr>
            <th>결제번호</th>
            <th>주문날짜</th>
            <th>주문수량</th>
            <th>주문금액</th>
            <th>결제취소여부</th>
        </tr>
        <tr th:each="pay : ${ payList }">
            <td th:text="${ pay.pay_code }"></td>
            <td th:text="${ pay.date }"></td>
            <td th:text="${ pay.total_cnt }"></td>
            <td th:text="${ pay.total_price }"></td>
            <td th:text="${ pay.refund_yn }"></td>
        </tr>
    </table>
</main>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>