<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
    <div th:fragment="update">
        <h2>Update Data</h2>
        <main class="update-form">
            <form th:action="@{/user/member/update}" method="post">
                ID : <input type="text" name="memberId"/><br>
                PASSWORD : <input type="password" name="memberPw"/><br>
                NAME : <input type="text" name="memberName"/><br>
                EMAIL : <input type="email" name="memberEmail"/><br>
                PHONE : <input type="tel" name="memberPhone"/><br>
                ADDRESS : <input type="text" name="memberAddress"/><br>
                <br>
                <button>SIGN UP</button>
            </form>
        </main>
    </div>
</body>
</html>