<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="reviewRegist">
    <main class="container my-5">
        <h3 class="text-center mb-4">신규 리뷰 등록</h3>
        <div class="form-container-review">
        <form th:action="@{/user/review/regist}" method="post" enctype="multipart/form-data" class="needs-validation">

            <input type="hidden" id="productCode" name="productCode" th:value="${productCode}">

            <!-- 리뷰 사진 -->
            <div class="mb-3">
                <label for="reviewPhotoOriginal" class="form-label">리뷰 사진</label>
                <input type="file" class="form-control" id="reviewPhotoOriginal" name="reviewPhotoOriginal">
            </div>

            <!-- 리뷰 제목 -->
            <div class="mb-3">
                <label for="reviewTitle" class="form-label">리뷰 제목</label>
                <input type="text" class="form-control" id="reviewTitle" name="reviewTitle" required>
                <div class="invalid-feedback">
                    리뷰 제목을 입력해주세요.
                </div>
            </div>

            <!-- 리뷰 내용 -->
            <div class="mb-3">
                <label for="reviewDetail" class="form-label">리뷰 내용</label>
                <textarea class="form-control" id="reviewDetail" name="reviewDetail" rows="3" required></textarea>
                <div class="invalid-feedback">
                    리뷰 내용을 입력해주세요.
                </div>
            </div>

            <!-- 리뷰 별점 -->
            <div class="mb-3">
                <label for="reviewRating" class="form-label">리뷰 별점</label>
                <div class="star-rating">
                    <input type="radio" id="star5" name="reviewRating" value="5"><label for="star5">&#9733;</label>
                    <input type="radio" id="star4" name="reviewRating" value="4"><label for="star4">&#9733;</label>
                    <input type="radio" id="star3" name="reviewRating" value="3"><label for="star3">&#9733;</label>
                    <input type="radio" id="star2" name="reviewRating" value="2"><label for="star2">&#9733;</label>
                    <input type="radio" id="star1" name="reviewRating" value="1"><label for="star1">&#9733;</label>
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-block" id="reviewRegistBtn" style="width: 150px">등록</button>
        </form>
        </div>
    </main>
</div>
</body>
</html>