<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
<div th:fragment="inquiryDetail">
    <main class="container my-5">
        <h5 class="text-center mb-4">문의글 수정</h5>
        <div class="form-container-inquiry">
            <form th:action="@{/user/inquiry/update}" method="post">
                <input type="hidden" name="inquiryCode" th:value="${inquiry.inquiryCode}" />

                <div class="mb-3">
                    <label for="inquiryTitle" class="form-label">문의 제목:</label>
                    <input type="text" id="inquiryTitle" name="inquiryTitle" class="form-control"
                           th:value="${inquiry.inquiryTitle}" required
                           th:attr="readonly=${reply != null ? 'readonly' : null}">
                    <div class="invalid-feedback">제목을 입력해주세요.</div>
                </div>

                <div class="mb-3">
                    <label for="inquiryDetail" class="form-label">문의 내용:</label>
                    <textarea id="inquiryDetail" name="inquiryDetail" class="form-control" rows="10"
                              th:text="${inquiry.inquiryDetail}" required style="text-align:left; letter-spacing: 2px;"
                              th:attr="readonly=${reply != null ? 'readonly' : null}"></textarea>
                    <div class="invalid-feedback">내용을 입력해주세요.</div>
                </div>

                <div class="d-flex justify-content-between mt-4">
                    <button type="submit" class="btn btn-primary btn-custom" th:attr="disabled=${reply != null ? 'disabled' : null}">수정하기</button>
                </div>
            </form>

            <form th:action="@{/user/inquiry/delete/{code}(code=${inquiry.inquiryCode})}" method="post">
                <button type="submit" class="btn btn-danger btn-block mt-3" th:attr="disabled=${reply != null ? 'disabled' : null}">삭제하기</button>
            </form>

            <!-- 답변 내용 -->
            <div th:if="${reply != null}" class="reply-container mt-4">
                <h6 class="text-success">답변</h6>
                <p><strong>답변 내용:</strong> <span th:text="${reply.replyDetail}"></span></p>
                <p><strong>답변 날짜:</strong> <span th:text="${reply.replyDate}"></span></p>
            </div>
        </div>
    </main>
</div>
</body>
</html>
