<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit</title>

    <style>
        textarea{
            width: 500px;
            height: 300px;
            resize: none;
        }
    </style>
</head>
<body>
    <h2>문의글 수정</h2>

    <form th:action="@{/user/inquiry/update}" th:object="${inquiry}" method="post">
        <input type="hidden" th:field="${inquiry.inquiryCode}">
        <div>
            <label for="title">문의 제목 :
                <input type="text" id="title" th:value="${inquiryTitle}" required/>
            </label>
        </div>
        <div>
            <label for="detail">문의 내용 :
            <textarea id="detail" th:value="${inquiryDetail}" required></textarea>
            </label>
        </div>
        <div>
            <div>
                <button type="submit" class="submit-btn">수정하기</button>
            </div>
        </div>
    </form>

</body>
</html>