<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit</title>
</head>
<body>
    <h2>문의글 수정</h2>

    <form th:action="@{/user/inquiry/edit}" method="post">
        <input type="hidden" value="${inquiryCode}"/>
        <input type="hidden" value="${memberCode}"/>
        <div>
            <label for="inquiryTitle">문의 제목 : </label>
            <input type="text" id="inquiryTitle" placeholder="제목을 입력해주세요" th:filed="${ inquiryTitle }" required>
        </div>
        <div>
            <label for="inquiryDetail">문의 내용 : </label>
            <input type="text" id="inquiryDetail" placeholder="내용을 입력해주세요" style="width: 500px; height: 300px;" th:filed="${ inquiryDetail }" required>
        </div>
        <div>
            <div>
                <button type="submit">수정하기</button>
            </div>
            <div>
                <button onclick="history.back()">취소</button>
            </div>
        </div>
    </form>

</body>
</html>