<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inquiry</title>
</head>
<body>

<div th:fragment="inquiry">
    <main class="container" style="padding: 10px 10px 10px 10px">
        <h4 class="text-center my-4">1:1 문의글 목록</h4>
        <button class="btn btn-primary btn-custom" style="width: auto; padding: 5px 100px;" onclick="location.href='/user/inquiry/regist'">문의글 등록</button>
        <table class="table inquiry-table">
            <thead class="table-light">
            <tr>
                <th>문의 제목</th>
                <th>문의 내용</th>
                <th>문의 생성일</th>
                <th>문의 수정일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="inquiry : ${inquiryList}" th:onclick="|window.location.href='/user/inquiry/detail/' + ${inquiry.inquiryCode}|">
                <td th:text="${inquiry.inquiryTitle}"></td>
                <td th:text="${inquiry.inquiryDetail}"></td>
                <td th:text="${inquiry.inquiryDate}"></td>
                <td th:text="${inquiry.inquiryEditDate}"></td>
            </tr>
            </tbody>
        </table>
    </main>
</div>

</body>
</html>