<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Inquiry</title>

</head>
<body data-inquiry-list="${inquiryList}">

    <div th:replace="fragments/header :: header"></div>

    <h1>INQUIRY LIST</h1>

    <main>
        <div th:fragment="inquiry">
            <table>
                <tr>
                    <th>문의코드</th>
                    <th>회원코드</th>
                    <th>문의제목</th>
                    <th>문의내용</th>
                    <th>문의생성일</th>
                    <th>문의수정일</th>
                </tr>
                <tr th:each="inquiry : ${ inquiryList }">
                    <td th:text="${ inquiry.code }"></td>
                    <td th:text="${ member.code }"></td>
                    <td th:text="${ inquiry.title }"></td>
                    <td th:text="${ inquiry.detail }"></td>
                    <td th:text="${ inquiry.date }"></td>
                    <td th:text="${ inquiry.edit.date }"></td>
                </tr>
            </table>
        </div>
    </main>

    <div th:replace="fragments/footer :: footer"></div>

</body>
</html>