<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문 상세</title>
</head>
<body>
<div th:fragment="adminOrderDetail" class="container my-5">
    <h2 class="mb-4">주문 상세</h2>

    <!-- 상품 상세 정보 -->
    <div class="card mb-4">
        <div class="card-header">
            상품 목록
        </div>
        <div class="card-body">
            <div th:each="payDetail : ${payDetailList}">
                <p><strong>상품 이름:</strong> <span th:text="${payDetail.productName}"></span></p>
                <p><strong>상품 수량:</strong> <span th:text="${payDetail.payDetailCnt}"></span></p>
                <p><strong>상품 가격:</strong> <span th:text="${payDetail.payDetailPrice}"></span></p>
            </div>
        </div>
    </div>

    <!-- 주문 정보 및 취소 -->
    <div class="card">
        <div class="card-header">
            주문 정보
        </div>
        <div class="card-body">
            <!-- 주문 취소 버튼 -->
            <form th:action="@{/admin/pay/update/{payCode}(payCode=${findPayByCode.payCode})}" method="post" onsubmit="return confirmCancel()">
            <p><strong>주문 날짜:</strong> <span th:text="${findPayByCode.payDate}"></span></p>
            <p><strong>배송자명:</strong> <span th:text="${findPayByCode.payReceiver}"></span></p>
            <p><strong>배송받을 연락처:</strong> <span th:text="${findPayByCode.payDeliverPhone}"></span></p>
            <p><strong>주문 결제 상태:</strong> <span th:text="${findPayByCode.payRefundYn}"></span></p>
            <p><strong>주문 결제 수량:</strong> <span th:text="${findPayByCode.payTotalCnt}"></span></p>
            <p><strong>주문 결제 금액:</strong> <span th:text="${findPayByCode.payTotalPrice}"></span></p>
            <p><strong>배송 상태:</strong> <span th:text="${findPayByCode.payDeliverStatus}"></span></p>
            <p><strong>계좌번호:</strong> <span th:text="${findPayByCode.payAccountNumber}"></span></p>
            <p><strong>카드번호:</strong> <span th:text="${findPayByCode.payCardNumber}"></span></p>
                <button type="submit" class="btn btn-danger mt-3" th:if="${findPayByCode.payDeliverStatus == '배송전'}">주문취소</button>
            </form>
        <script>
            function confirmCancel() {
                return confirm("주문을 취소하시겠습니까?");
            }
        </script>
        </div>
    </div>
</div>
</body>
</html>
