<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문 상세</title>
</head>
<body>
<div th:fragment="adminOrderDetail" class="container my-4">
    <h2 class="mb-3">주문 상세</h2>

    <!-- 상품 상세 정보 -->
    <div class="card mb-4" style="width: 600px">
        <div class="card-header" style="text-align: center;">
            주문 상품 목록
        </div>
<!--        <div>-->
            <table class="table" style="text-align: center">
                <thead>
                <tr>
                    <th>상품 이름</th>
                    <th>상품 수량</th>
                    <th>상품 가격</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="payDetail : ${payDetailList}">
                    <td th:text="${payDetail.productName}"></td>
                    <td th:text="${payDetail.payDetailCnt}"></td>
                    <td class="price" th:attr="data-price=${payDetail.payDetailPrice}"></td>
                </tr>
                </tbody>
            </table>
<!--        </div>-->
    </div>

    <!-- 주문 정보 및 취소 -->
    <div class="card" style="width: 600px; text-align: center">
        <div class="card-header">
            주문 정보
        </div>
        <div class="card-body">
            <table class="table">
                <tbody>
                <tr>
                    <th>주문 날짜</th>
                    <td th:text="${findPayByCode.payDate}"></td>
                </tr>
                <tr>
                    <th>배송자명</th>
                    <td th:text="${findPayByCode.payReceiver}"></td>
                </tr>
                <tr>
                    <th>배송받을 연락처</th>
                    <td th:text="${findPayByCode.payDeliverPhone}"></td>
                </tr>
                <tr>
                    <th>주문 결제 상태</th>
                    <td id="payrefundyn" th:text="${findPayByCode.payRefundYn}" ></td>
                </tr>
                <tr>
                    <th>주문 결제 수량</th>
                    <td th:text="${findPayByCode.payTotalCnt}"></td>
                </tr>
                <tr>
                    <th>주문 결제 금액</th>
                    <td class="price" th:attr="data-price=${findPayByCode.payTotalPrice}"></td>
                </tr>
                <tr th:if="${findPayByCode.bankCode} != 1">
                    <th>은행명</th>
                    <td th:text="${findPayByCode.bankName}"></td>
                </tr>
                <tr th:if="${findPayByCode.bankCode} != 1">
                    <th>계좌번호</th>
                    <td th:text="${findPayByCode.payAccountNumber}"></td>
                </tr>
                <tr th:if="${findPayByCode.cardCompanyCode} != 1">
                    <th>카드사명</th>
                    <td th:text="${findPayByCode.cardCompanyName}"></td>
                </tr>
                <tr th:if="${findPayByCode.cardCompanyCode} != 1">
                    <th>카드번호</th>
                    <td th:text="${findPayByCode.payCardNumber}"></td>
                </tr>
                <tr>
                    <th>배송 상태</th>
                    <td th:text="${findPayByCode.payDeliverStatus}"></td>
                </tr>
                <tr>
                    <th>결제취소여부</th>
                    <td id="paydeleteyn" th:text="${findPayByCode.payDeleteYn}" ></td>
                </tr>
                </tbody>
            </table>

            <!-- 주문 취소 버튼 -->
            <div class="d-flex justify-content-between align-items-center mt-3">
                <form th:action="@{/admin/pay/update/{payCode}(payCode=${findPayByCode.payCode})}" method="post" onsubmit="return confirmCancel()">
                    <button type="submit" name="cancel" class="btn btn-danger" th:if="${findPayByCode.payDeliverStatus == '배송전' and findPayByCode.payDeleteYn == 'N'}">주문취소</button>
                </form>
                <form th:action="@{/admin/pay/updateDeliverStatus/{payCode}(payCode=${findPayByCode.payCode})}" method="post">
                    <button type="submit" class="btn btn-primary" th:if="${findPayByCode.payDeliverStatus == '배송전' and findPayByCode.payDeleteYn == 'N'}">배송하기</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        function confirmCancel() {
            return confirm("주문을 취소하시겠습니까?");
        }

        document.addEventListener('DOMContentLoaded', function() {
            const paydeleteY = document.getElementById('paydeleteyn');
            if (paydeleteY) {
                if (paydeleteY.textContent.trim() === 'Y') {
                    paydeleteY.textContent = '주문이 취소되었습니다.';
                } else if (paydeleteY.textContent.trim() === 'N') {
                    paydeleteY.textContent = '배송 대기중입니다.';
                }
            }
        });

        document.addEventListener('DOMContentLoaded', function() {
            const payrefundY = document.getElementById('payrefundyn');
            if (payrefundY) {
                if (payrefundY.textContent.trim() === 'Y') {
                    payrefundY.textContent = '결제 완료';
                } else if (payrefundY.textContent.trim() === 'N') {
                    payrefundY.textContent = '결제 취소';
                }
            }
        });

        const priceElements = document.querySelectorAll('.price');

        priceElements.forEach(priceElement => {
            const rawPrice = priceElement.getAttribute('data-price');

            const formattedPrice = Number(rawPrice).toLocaleString();

            priceElement.textContent = formattedPrice + '원';

        });
    </script>
</div>
</body>
</html>
