<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
    <header th:fragment="header">
        <h1>Spaces in Space</h1>
        <nav class="nav-container">
            <ul class="main-nav-left horizontal-list">
                <li><a th:href="@{/user/product/productAll}">PRODUCTS</a></li>
                <li><a th:href="@{/}">ABOUT US</a></li>
                <li><a th:href="@{/user/faq/list}">FAQS</a></li>
            </ul>

            <!-- 로그인 전 -->
            <ul class="main-nav-right horizontal-list">
                <li sec:authorize="isAnonymous()"><a th:href="@{auth/login}">LOGIN</a></li>
            </ul>

            <!-- 로그인 후 -->
            <div class="logout-container" sec:authorize="isAuthenticated()">
                <a th:href="@{/user/member/update}">MY PAGE</a>
                <form th:action="@{/auth/logout}" th:method="post">
                    <button>로그아웃</button>
                </form>
            </div>
        </nav>
    </header>
</body>
</html>