<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
    <header th:fragment="header">

        <div class="d-flex justify-content-center">
            <a th:href="@{/}">
                <img th:src="@{/img/logo.png}" alt="Logo" style="width: 70px; height: 70px;" />
            </a>
        </div>


        <h2>
            <a th:href="@{/}" style="text-decoration: none; color: inherit;">SPACES IN SPACE</a>
        </h2>

        <nav class="nav-container">
            <ul class="main-nav-left horizontal-list">
                <li><a th:href="@{/user/product/productAll}">PRODUCTS</a></li>
<!--                <li><a th:href="@{/}">ABOUT US</a></li>-->
                <li><a th:href="@{/user/faq/list}">FAQS</a></li>
            </ul>

            <!-- 로그인 전 -->
            <ul class="main-nav-right horizontal-list" sec:authorize="isAnonymous()">
                <li>
                    <form th:action="@{/auth/login}" method="get" style="display: inline;">
                        <button type="submit">LOGIN</button>
                    </form>
                </li>
            </ul>

            <!-- 로그인 후 -->
            <div class="logout-container" sec:authorize="isAuthenticated()">
                <a th:href="@{/user/member/update}">MY PAGE</a>
                <form th:action="@{/auth/logout}" th:method="post" style="display: inline;">
                    <button type="submit">LOGOUT</button>
                </form>
            </div>
        </nav>
    </header>
</body>
</html>