/* Global styles */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Header styles */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /*background-color: #f4f4f4; !* Optional: Background color for visibility *!*/
}

/* Header title */
h1 {
    text-align: center;
    margin: 0;
    padding: 7px;
    /*border: 1px solid black;*/
    width: 100%;
}

/* Flex container for logout-container */
.logout-container {
    display: flex;          /* Aligns children horizontally */
    align-items: center;    /* Ensures vertical alignment */
    gap: 10px;              /* Space between MY PAGE and LOGOUT */
}

.logout-container a {
    text-decoration: none;  /* Optional: to remove underline on MY PAGE */
    color: blue;            /* Optional: link color */
}

.logout-container button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.logout-container button:hover {
    background-color: #333232;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}

.main-nav-left,
.main-nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0;
    margin: 0;
}

/* Styling for 마이페이지 nav container */
.mypage-nav-buttons {
    display: flex;              /* Aligns buttons horizontally */
    justify-content: center;    /* Center the buttons horizontally */
    gap: 15px;                  /* Space between the buttons */
    padding: 20px;
}

/* Horizontal list for both left and right aligned menus */
.horizontal-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

/* Main content area */
main {
    flex: 1;
    align-content: center;
    text-align: center;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
}

table {
    margin: 0 auto; /* 테이블을 수평으로 가운데 정렬 */
    border-collapse: collapse; /* 테이블 경계선 겹침 방지 */
}

th, td {
    padding: 10px; /* 셀 패딩 추가 */
    text-align: center; /* 텍스트 가운데 정렬 */
    border: 1px solid #ccc; /* 셀 경계선 추가 */