<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>장바구니</title>
</head>
<body>
<div th:fragment="cart">
    <main class="container" style="padding: 10px 10px 30px 10px">
        <h4 class="text-center my-4">CART</h4>
        <table class="table inquiry-table">
            <tr>
                <th>선택</th>
                <th>상품 이름</th>
                <th>수량</th>
                <th>금액</th>
                <th>총 금액</th>
                <th>삭제</th>
            </tr>
            <tbody>
            <tr th:each="c : ${cart}">
                <form th:action="@{/user/cart/delete/{productCode}(productCode=${c.productCode})}" method="post">
                    <td style="width: 80px"><input type="checkbox"  checked class="cart"/></td>
                    <td th:text="${c.productName}"></td>
                    <td th:text="${c.cartCnt}"></td>
                    <td th:text="${c.cartPrice}"></td>
                    <td th:text="${c.cartPrice} * ${c.cartCnt}"></td>
                    <td>
                        <button type="submit" class="btn btn-danger">삭제하기</button>
                    </td>
                </form>
            </tr>
            </tbody>
        </table>

        <form th:action="@{/user/cart/cartPayProgress}" method="post" class="text-center mt-4">
            <input type="hidden" th:value="${memberCode}" name="memberCode">
            <button type="submit" class="btn btn-primary">결제하기</button>
        </form>
    </main>
</div>
</body>
</html>
