<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title th:text="${pageTitle}">Spaces in Space</title>
</head>
<body>

<div th:fragment="cart">
<main>
    <table>
        <tr>
            <th>상품이름</th>
            <th>장바구니수량</th>
            <th>장바구니금액</th>
        </tr>
        <tr th:each="c : ${cart}">
            <td th:text="${c.productName}"></td>
            <td th:text="${c.cartCnt}"></td>
            <td th:text="${c.cartPrice}"></td>
        </tr>
    </table>
</main>

</body>
</html>