<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>admin inquiry detail</title>

</head>
<body>

    <div th:fragment="inquiryDetail" class="container my-5">
        <h2 class="mb-4">문의글 내용</h2>
        <div class="form-container-inquiry">
            <form th:action="@{/admin/inquiry/delete/{code}(code=${ inquiry.inquiryCode })}" method="post" novalidate>
                <div class="mb-3">
                    <label for="inquiryTitle" class="form-label">문의 제목</label><input type="text" name="inquiryTitle" id="inquiryTitle" class="form-control" th:value="${ inquiry.inquiryTitle }" readonly><br>
                </div>
                <div class="mb-3">
                    <label for="inquiryDetail" class="form-label">문의 내용</label><textarea name="inquiryDetail" id="inquiryDetail" class="form-control" rows="7" th:text="${ inquiry.inquiryDetail }" readonly></textarea>
                </div>

<!--                <div class="col-12 text-end">-->
<!--                    <button type="submit" class="btn btn-danger">삭제</button>-->
<!--                </div>-->
            </form>


        <div th:if="${reply != null}" class="mt-4 form-container-inquiry">
            <p><strong>답변 날짜 : </strong><span th:text="${reply.replyDate}"></span></p>
            <form th:action="@{/admin/reply/updateReply}" method="post">
                <input type="hidden" id="replyCode" name="replyCode" th:value="${reply.replyCode}">
                <div class="mb-3">
                    <label for="replyDetail" class="form-label">답변</label>
                    <textarea id="replyDetail" name="replyDetail" class="form-control" rows="5" th:text="${reply.replyDetail}" required></textarea>
                    <div class="invalid-feedback">내용을 입력해주세요.</div>
                </div>
                <div class="col-12 text-end">
                    <button type="submit" class="btn btn-primary">수정하기</button>
                    <button type="button" class="btn btn-danger" onclick="confirmDelete()">삭제하기</button>
                </div>
            </form>
        </div>

        <form th:action="@{/admin/reply/deleteReply}" method="post" id="deleteForm">
            <input type="hidden" name="replyCode" th:value="${reply != null ? reply.replyCode : ''}">
        </form>

        <div th:if="${reply == null}" class="form-container-inquiry mt-4 ">
            <form th:action="@{/admin/reply/registReply/{inquiryCode}(inquiryCode=${ inquiry.inquiryCode })}" method="post">
                <label for="replyDetail2" class="form-label">답변</label>
                <textarea name="replyDetail2" id="replyDetail2" rows="5" class="form-control" th:text="${reply != null ? reply.replyDetail : ''}"></textarea>
                <br>
                <div class="text-end col-12">
                    <button type="submit" class="btn btn-primary submit-btn">등록</button>
                </div>
            </form>
        </div>


    </div>
    <script th:inline="javascript">
        // 삭제 confirm
        function confirmDelete() {
            if (confirm("정말로 이 답변을 삭제하시겠습니까?")) {
                document.getElementById('deleteForm').submit();
            }
        }
        // Form validation using Bootstrap
        (() => {
            'use strict';

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation');

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }

                    form.classList.add('was-validated');
                }, false);
            });
        })();
    </script>
    </div>

</body>
</html>