<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>regist</title>

    <style>
        textarea{
            width: 500px;
            height: 300px;
            resize: none;
        }
    </style>
</head>
<body>

    <h3>신규 답변 등록</h3>

    <form th:action="@{/admin/reply/regist}" method="post">
        <label>답변 내용 : </label>
        <textarea placeholder="내용을 입력해주세요" name="replyDetail" style="text-align:left; letter-spacing: 2px;"></textarea><br>
        <button type="submit" class="submit-btn">등록</button>
    </form>
</body>
</html>